Repository Aanttrax/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: :sparkles: se instala tailwind
  package-lock.json
  package.json
  src/app/app.component.html
  src/styles.scss
  tailwind.config.js
Due: prettier --write

feat: :sparkles: instalacion manejadores 3d
  README.md
  package-lock.json
  package.json
  src/app/app.component.ts
Due: eslint --fix, prettier --write

feat: :sparkles: se inicia la pagina y configuracion de estilos
  public/logo.svg
  public/parallax/1Stars.svg
  public/parallax/2Planets.svg
  public/parallax/3Mountain.svg
  public/parallax/4Mountain.svg
  public/parallax/5Crater.svg
  public/parallax/6Sun.svg
  src/app/app.component.html
  src/app/app.routes.ts
  src/app/pages/landing/landing.component.html
  src/app/pages/landing/landing.component.scss
  src/app/pages/landing/landing.component.spec.ts
  src/app/pages/landing/landing.component.ts
  src/assets/3d/scifi.glb
  src/assets/3d/spaceman.glb
  src/assets/algorithms.png
  src/assets/close.svg
  src/assets/devnotes.png
  src/assets/herobg.jpeg
  src/assets/herobg.svg
  src/assets/index.js
  src/assets/logo.svg
  src/assets/menu.svg
  src/assets/oscs.png
  src/assets/projbg-vert.jpg
  src/assets/projbg.jpg
  src/styles.scss
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: :sparkles: configuracion de rutas absolutas
  tsconfig.json
Due: prettier --write

feat: :sparkles: se crean los compoonentes con la estructura
  src/app/components/contact/contact.component.html
  src/app/components/contact/contact.component.scss
  src/app/components/contact/contact.component.spec.ts
  src/app/components/contact/contact.component.ts
  src/app/components/experience/experience.component.html
  src/app/components/experience/experience.component.scss
  src/app/components/experience/experience.component.spec.ts
  src/app/components/experience/experience.component.ts
  src/app/components/hero/hero.component.html
  src/app/components/hero/hero.component.scss
  src/app/components/hero/hero.component.spec.ts
  src/app/components/hero/hero.component.ts
  src/app/components/portfolio/portfolio.component.html
  src/app/components/portfolio/portfolio.component.scss
  src/app/components/portfolio/portfolio.component.spec.ts
  src/app/components/portfolio/portfolio.component.ts
  src/app/components/position/position.component.html
  src/app/components/position/position.component.scss
  src/app/components/position/position.component.spec.ts
  src/app/components/position/position.component.ts
  src/app/components/spaceman/spaceman.component.html
  src/app/components/spaceman/spaceman.component.scss
  src/app/components/spaceman/spaceman.component.spec.ts
  src/app/components/spaceman/spaceman.component.ts
  src/app/shared/loader/loader.component.html
  src/app/shared/loader/loader.component.scss
  src/app/shared/loader/loader.component.spec.ts
  src/app/shared/loader/loader.component.ts
  src/app/shared/navbar/navbar.component.html
  src/app/shared/navbar/navbar.component.scss
  src/app/shared/navbar/navbar.component.spec.ts
  src/app/shared/navbar/navbar.component.ts
Due: eslint --fix, prettier --write

feat: :sparkles: se anade modelo 3d
  package-lock.json
  package.json
  public/3d/scifi.glb
  public/3d/spaceman.glb
  public/herobg.jpeg
  src/app/components/hero/hero.component.html
  src/app/components/hero/hero.component.ts
  src/app/components/spaceman/spaceman.component.html
  src/app/components/spaceman/spaceman.component.ts
  src/app/pages/landing/landing.component.html
  src/app/pages/landing/landing.component.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: :sparkles: se anade la position
  src/app/components/hero/hero.component.html
  src/app/components/hero/hero.component.ts
  src/app/components/position/position.component.html
  src/app/components/position/position.component.ts
  src/app/pages/landing/landing.component.html
Due: eslint --fix, prettier --write

feat: :sparkles: update position
  src/app/components/position/position.component.html
Due: prettier --write

feat: :sparkles: creacion de la navBar
  public/assets/algorithms.png
  public/assets/close.svg
  public/assets/devnotes.png
  public/assets/herobg.jpeg
  public/assets/herobg.svg
  public/assets/index.js
  public/assets/logo.svg
  public/assets/menu.svg
  public/assets/oscs.png
  public/assets/projbg-vert.jpg
  public/assets/projbg.jpg
  src/app/data/experience.data.ts
  src/app/data/navLinks.data.ts
  src/app/data/portfolio.data.ts
  src/app/models/data.interface.ts
  src/app/pages/landing/landing.component.html
  src/app/pages/landing/landing.component.ts
  src/app/services/data.service.spec.ts
  src/app/services/data.service.ts
  src/app/shared/navbar/navbar.component.html
  src/app/shared/navbar/navbar.component.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: :sparkles: creacion de Portfolio
  src/app/app.config.ts
  src/app/components/card-project/card-project.component.html
  src/app/components/card-project/card-project.component.scss
  src/app/components/card-project/card-project.component.spec.ts
  src/app/components/card-project/card-project.component.ts
  src/app/components/portfolio/portfolio.component.html
  src/app/components/portfolio/portfolio.component.ts
  src/app/data/portfolio.data.ts
  src/app/models/data.interface.ts
  src/app/pages/landing/landing.component.html
  src/app/pages/landing/landing.component.ts
  src/app/services/data.service.ts
  src/app/shared/navbar/navbar.component.html
  src/assets/3d/scifi.glb
  src/assets/3d/spaceman.glb
  src/assets/algorithms.png
  src/assets/devnotes.png
  src/assets/oscs.png
Due: eslint --fix, prettier --write

feat: :sparkles: creacion de cardExperience
  src/app/components/card-experience/card-experience.component.html
  src/app/components/card-experience/card-experience.component.scss
  src/app/components/card-experience/card-experience.component.spec.ts
  src/app/components/card-experience/card-experience.component.ts
  src/app/pages/landing/landing.component.html
  src/app/pages/landing/landing.component.ts
Due: eslint --fix, prettier --write

fix: :bug: se arregle el lint y navbar
  .lintstagedrc
  src/app/shared/navbar/navbar.component.html
Due: prettier --write

feat: :sparkles: creacion de componente Experiencia
  src/app/components/card-experience/card-experience.component.html
  src/app/components/card-experience/card-experience.component.ts
  src/app/components/card-project/card-project.component.html
  src/app/components/card-project/card-project.component.ts
  src/app/components/experience-detail/experience-detail.component.html
  src/app/components/experience-detail/experience-detail.component.scss
  src/app/components/experience-detail/experience-detail.component.spec.ts
  src/app/components/experience-detail/experience-detail.component.ts
  src/app/components/experience/experience.component.html
  src/app/components/experience/experience.component.ts
  src/app/components/portfolio/portfolio.component.html
  src/app/components/portfolio/portfolio.component.ts
  src/app/components/spaceman/spaceman.component.ts
  src/app/models/data.interface.ts
  src/app/pipes/sanitizer.pipe.spec.ts
  src/app/pipes/sanitizer.pipe.ts
  src/app/services/data.service.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: :sparkles: fix contact component
  .gitignore
  angular.json
  src/app/app.config.ts
  src/app/components/contact/contact.component.html
  src/app/components/contact/contact.component.ts
  src/app/pages/landing/landing.component.html
  src/app/pages/landing/landing.component.ts
  src/app/services/email.service.spec.ts
  src/app/services/email.service.ts
  src/environments/environment.development.ts
Due: eslint --fix, prettier --write

feat: :sparkles: creacion de componente contactos y envio de email
  package-lock.json
  package.json
  src/app/components/contact/contact.component.html
  src/app/components/contact/contact.component.ts
  src/app/services/email.service.ts
  src/environments/environment.development.ts
Due: eslint --fix, prettier --write

feat: :sparkles: componentes experience and projects
  public/assets/algorithms.png
  public/assets/devnotes.png
  public/assets/index.js
  public/assets/oscs.png
  public/assets/portfolio-1.0.0.png
  public/assets/rickMorty.png
  src/app/components/card-project/card-project.component.ts
  src/app/components/contact/contact.component.ts
  src/app/components/experience/experience.component.ts
  src/app/components/portfolio/portfolio.component.ts
  src/app/components/spaceman/spaceman.component.html
  src/app/components/spaceman/spaceman.component.ts
  src/app/data/experience.data.ts
  src/app/data/portfolio.data.ts
  src/app/pipes/sanitizer.pipe.ts
  src/app/shared/navbar/navbar.component.html
  src/app/shared/navbar/navbar.component.ts
  src/assets/close.svg
  src/assets/herobg.jpeg
  src/assets/herobg.svg
  src/assets/index.js
  src/assets/logo.svg
  src/assets/menu.svg
  src/assets/projbg-vert.jpg
  src/assets/projbg.jpg
Due: eslint --fix, prettier --write

feat: :sparkles: improve components
  src/app/components/contact/contact.component.html
  src/app/components/contact/contact.component.ts
  src/app/pages/landing/landing.component.html
Due: eslint --fix, prettier --write

feat: :sparkles: implementation of environment
  .gitignore
  README.md
  angular.json
  package-lock.json
  package.json
  src/app/services/email.service.ts
  src/env.d.ts
  src/environments/environment.ts
Due: eslint --fix, prettier --write

feat: :sparkles: implementation dockerfile and nginx;
  .dockerignore
  Dockerfile
  nginx.conf
  src/app/components/contact/contact.component.ts
Due: eslint --fix, prettier --write

fix: :bug: fix dockerfile
  Dockerfile
Due: none

feat: :sparkles: implementation github actions
  .github/workflows/publish-ghcr.yml
  VERSION
Due: prettier --write

fix: :bug: fix yml
  .github/workflows/publish-ghcr.yml
Due: prettier --write

fix: :bug: fix yml
  .github/workflows/publish-ghcr.yml
  Dockerfile
Due: prettier --write

feat: :sparkles: implementation githubPages
  .github/workflows/publish-ghcr.yml
Due: prettier --write

Update publish-ghcr.yml
  .github/workflows/publish-ghcr.yml
Due: prettier --write

Deploying to gh-pages from @ Aanttrax/portfolio@318ac049d6d6368095204dc35e9730af960c8f26 🚀
  50x.html
  chunk-EU3DRNCC.js
  chunk-GJP2SPXJ.js
  chunk-JRXE2AHI.js
  chunk-OVTPLG65.js
  chunk-TT54V3WV.js
  html/3d/scifi.glb
  html/3d/spaceman.glb
  html/assets/close.svg
  html/assets/herobg.jpeg
  html/assets/herobg.svg
  html/assets/logo.svg
  html/assets/menu.svg
  html/assets/portfolio-1.0.0.png
  html/assets/projbg-vert.jpg
  html/assets/projbg.jpg
  html/assets/rickMorty.png
  html/favicon.ico
  html/herobg.jpeg
  html/logo.svg
  html/parallax/1Stars.svg
  html/parallax/2Planets.svg
  html/parallax/3Mountain.svg
  html/parallax/4Mountain.svg
  html/parallax/5Crater.svg
  html/parallax/6Sun.svg
  index.html
  main-QHCRI6UU.js
  polyfills-FFHMD2TL.js
  styles-JV5ZFPYO.css
Due: prettier --write

Deploying to gh-pages from @ Aanttrax/portfolio@73cc424e14a15f9fe915cac102b8c3ac80546e11 🚀
  index.html
Due: prettier --write

feat: :sparkles: implementation new job
  .github/workflows/publish-ghcr.yml
Due: prettier --write

Deploying to gh-pages from @ Aanttrax/portfolio@4bbceefb33ad723cb3b1193190c3ac6f2fa23494 🚀
  chunk-VN66I3MK.js
  index.html
  main-B6LN6CU2.js
  main-QHCRI6UU.js
Due: prettier --write

feat: :sparkles: implementation new sed in jobs
  .github/workflows/publish-ghcr.yml
Due: prettier --write

fix: :bug: implementation new sed in jobs
  .github/workflows/publish-ghcr.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx}
  prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{html,css,js,json,md,yml})
